# Actividad 2.1 (Valores Nulos)
## Luis Javier González Romero -  A1702728

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.options.display.max_columns = None
data = pd.read_csv('Ventas_totales.csv')
data.head(5)

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,otros_medios,ventas_totales_grupo_articulos,subtotal_ventas_alimentos_bebidas,bebidas,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,9047205.493,1716991.073,27858872.08,18043789.16,3514467.398,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,8309150.301,1527488.518,25994200.17,17656879.08,3344456.931,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,8845010.494,1782030.557,27780006.52,19186248.05,3290739.324,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,9458166.682,1909221.374,29134272.22,20257135.10,3253288.237,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,9220929.862,1864714.157,27969004.68,18904574.40,2869437.411,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

In [3]:
#identificar valores nulos por columna
valores_nulos = data.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [4]:
#Realizamos una copia del dataframe
data2 = data.copy()

* Para la columna ***'salon_ventas'*** tratamos 6 valores nulos por medio del promedio por columna, considerando 2 decimales. Al ser varios datos, usar el promedio puede tener una mejor representación al imputar los datos.

In [5]:
#Sustituir valores nulos con promedio o media
data2['salon_ventas'] = data2['salon_ventas'].fillna(round(data['salon_ventas'].mean(),2))

In [6]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [7]:
data2.to_csv('Ventas_totales01.csv')

* Para la columna ***'tarjetas_debito'*** tratamos 1 valor nulo por medio del promedio por columna, considerando 3 decimales.

In [8]:
#Sustituir valores nulos con promedio o media
data2['tarjetas_debito'] = data2['tarjetas_debito'].fillna(round(data['tarjetas_debito'].mean(),3))

In [9]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [10]:
data2.to_csv('Ventas_totales02.csv')

* Para la columna ***'tarjetas_credito'*** tratamos 7 valores nulos por medio del promedio por columna, considerando 3 decimales.  Al ser varios datos, usar el promedio puede tener una mejor representación al imputar los datos.

In [11]:
#Sustituir valores nulos con promedio o media
data2['tarjetas_credito'] = data2['tarjetas_credito'].fillna(round(data['tarjetas_credito'].mean(),3))

In [12]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        0
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [13]:
data2.to_csv('Ventas_totales03.csv')

* Para la columna ***'otros_medios'*** tratamos 1 valor nulo por medio de la mediana por columna, considerando 3 decimales.  Al ser un único dato, usar la mediana tomará el dato que se encuentre en el centro de la columna.

In [14]:
#Sustituir valores nulos con mediana
data2['otros_medios'] = data2['otros_medios'].fillna(round(data['otros_medios'].median(),3))

In [15]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        0
otros_medios                            0
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [16]:
data2.to_csv('Ventas_totales04.csv')

* Para la columna ***'subtotal_ventas_alimentos_bebidas'*** tratamos 10 valores nulos por medio del promedio por columna, considerando 2 decimales.  Al ser varios datos, usar el promedio puede tener una mejor representación al imputar los datos.

In [17]:
#Sustituir valores nulos con mediana
data2['subtotal_ventas_alimentos_bebidas'] = data2['subtotal_ventas_alimentos_bebidas'].fillna(round(data['subtotal_ventas_alimentos_bebidas'].mean(),2))

In [18]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                1
almacen                                2
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [19]:
data2.to_csv('Ventas_totales05.csv')

* Para la columna ***'bebidas'*** tratamos 1 valor nulo por medio de la función forward fill (ffill).  Al ser un único dato, usar ffill tomará el dato previo al nulo y lo imputará con este valor.

In [20]:
#Sustituir valores nulos por valores no nulos hacia adelante 'forward fill' (ffill)
#Filtro por columnas
data2['bebidas'] = data2['bebidas'].fillna(method='ffill')

In [21]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                2
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [22]:
data2.to_csv('Ventas_totales06.csv')

* Para la columna ***'bebidas'*** tratamos 2 valores nulos por medio de la función backward fill (bfill). Usar bfill tomará el dato posterior al nulo y lo imputará con este valor.

In [23]:
#Sustituir valores nulos por valores no nulos hacia atrás 'backward fill' (bfill)
data2['almacen'] = data2['almacen'].fillna(method='bfill')

In [24]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [25]:
data2.to_csv('Ventas_totales07.csv')

* Para la columna ***'panaderia'*** tratamos 1 valor nulo por medio de la función fillna.  Al ser un único dato, usamos fillna para imputar con un valor numérico específico.

In [26]:
#Sustituir valores nulos por un valor numérico en concreto
data2['panaderia'] = data2['panaderia'].fillna(1.132396e+06)

In [27]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [28]:
data2.to_csv('Ventas_totales08.csv')

* Para la columna ***'lacteos'*** tratamos 1 valor nulo por medio de la función fillna.  Al ser un único dato, usamos fillna para imputar con un valor numérico específico.

In [29]:
#Sustituir valores nulos por un valor numérico en concreto
data2['lacteos'] = data2['lacteos'].fillna(3232635.767)

In [30]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [31]:
data2.to_csv('Ventas_totales09.csv')

* Para la columna ***'carnes'*** tratamos 1 valor nulo por medio de la función fillna.  Al ser un único dato, usamos fillna para imputar con un valor numérico específico.

In [32]:
#Sustituir valores nulos por un valor numérico en concreto
data2['carnes'] = data2['carnes'].fillna(2824976.726)

In [33]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [34]:
data2.to_csv('Ventas_totales10.csv')

* Para la columna ***'verduleria_fruteria'*** tratamos 1 valor nulo por medio de la función fillna.  Al ser un único dato, usamos fillna para imputar con un valor numérico específico.

In [35]:
#Sustituir valores nulos por un valor numérico en concreto
data2['verduleria_fruteria'] = data2['verduleria_fruteria'].fillna(1.037213e+06)

In [36]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [37]:
data2.to_csv('Ventas_totales11.csv')

* Para la columna ***'alimentos_preparados_rotiseria'*** tratamos 1 valor nulo por medio de la función fillna.  Al ser un único dato, usamos fillna para imputar con un valor numérico específico.

In [38]:
#Sustituir valores nulos con promedio o media
data2['alimentos_preparados_rotiseria'] = data2['alimentos_preparados_rotiseria'].fillna(round(data['alimentos_preparados_rotiseria'].mean(),4))

In [39]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [40]:
data2.to_csv('Ventas_totales12.csv')

* Para la columna ***'indumentaria_calzado_textiles_hogar'*** tratamos 2 valores nulos por medio del promedio por columna, considerando 3 decimales.

In [41]:
#Sustituir valores nulos con promedio o media
data2['indumentaria_calzado_textiles_hogar'] = data2['indumentaria_calzado_textiles_hogar'].fillna(round(data['indumentaria_calzado_textiles_hogar'].mean(),3))

In [42]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [43]:
data2.to_csv('Ventas_totales13.csv')

* Para la columna ***'electronicos_articulos_hogar'*** tratamos 3 valores nulos por medio de la mediana por columna, considerando 3 decimales.  Usar la mediana tomará el dato que se encuentre en el centro de la columna.

In [44]:
#Sustituir valores nulos con mediana
data2['electronicos_articulos_hogar'] = data2['electronicos_articulos_hogar'].fillna(round(data['electronicos_articulos_hogar'].median(),3))

In [45]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  4
dtype: int64

In [46]:
data2.to_csv('Ventas_totales14.csv')

* Para la columna ***'otros'*** tratamos 4 valores nulos por medio de la mediana por columna, considerando 3 decimales.  Usar la mediana tomará el dato que se encuentre en el centro de la columna.

In [47]:
#Sustituir valores nulos con mediana
data2['otros'] = data2['otros'].fillna(round(data['otros'].median(),3))

In [48]:
#identificar valores nulos por columna
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64

In [49]:
data2.to_csv('Ventas_totales15.csv')

In [50]:
data2.isnull().sum().sum()

0

* Finalmente guardamos un archivo que no contenga datos nulos.

In [51]:
data2.to_csv('Ventas_totales_sin_nulos.csv')